.tl-role {
  align-items: center;
  padding: 0.5em;
  flex-wrap: nowrap;
}

.tl-title-and-icon {
  display: flex;
  align-items: center;
}

.tl-icon {
  color: var(--app-accent);
  font-family: 'DM Mono', monospace;
  font-size: 1.5em;
  flex-shrink: 0;
  padding-right: 0.5em;
}

.tl-item {
  background-color: transparent;
  border-radius: 0;
  border: dashed 1px var(--mantine-color-dimmed);
  color: var(--app-text);
  cursor: pointer;
  padding: 1em;
  width: 100%;
}

.tl-item:hover {
  border-color: var(--app-accent);
  border-width: 2px;
}

.tl-item[data-active] {
  border-color: var(--app-accent);
  border-width: 2px;
}

.tl-institution {
  font-size: 1.25em;
  margin: 0;
}

.tl-details h4 {
  margin-bottom: 0.25em;
}

.tl-dates {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
}

.tl-location {
  margin-bottom: 1em;
}

.tl-description {
  margin-bottom: 2em;
}
